@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box; /*Évite que les bordures et
les paddings ne "débordent" 
en augmentant la taille totale d'un élément. */
}

/*******Titre du site*********/
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  margin: 0;
}

h3,
p {
  margin: 0;
}

a {
  text-decoration: none; /*permet aulien de ne pas être en surbrillance*/
  color: inherit; /*permet aulien de ne pas être en surbrillance*/
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  margin: 0;
  position: relative;
}

/*******barre de localisation*********/
.ville {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.6rem;
}
.ville i {
  font-size: 1rem;
}

/********sous titre et exploration********/
.explorer {
  background-color: #f6f6f6;
  text-align: center;
  padding: 2rem;
}
.explorer .explo {
  max-width: 1280px;
  margin: auto;
}
.explorer h2 {
  font-size: 3rem;
  padding-bottom: 2rem;
  font-size: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  /*mixin du bouton*/
  color: white;
  font-weight: 300;
  width: 15rem;
  padding: 0.8rem 0.8rem;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms; /*vitesse du zoom*/
  margin-top: 1.5rem;
  cursor: pointer;
  box-shadow: 2px 1px 7px -3px lightgrey;
  background-image: linear-gradient(to top, #9356dc, #ff79da); /*couleur du bouton*/
  /*mixin du bouton*/
  color: white;
  font-weight: 300;
  width: 15rem;
  padding: 0.8rem 0.8rem;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms; /*vitesse du zoom*/
  margin-top: 1.5rem;
  cursor: pointer;
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*********animation**********/
.chargement { /* écran de chargement */
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #99E2D0;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: invisible 200ms forwards; /*évite que l'animation se répete, plus le temps d'apparition*/
  animation-delay: 1s;
  transform-origin: top;
}

@keyframes invisible {
  to {
    transform: scale(0);
  }
}
/*mixin de box shadow*/
/******variables*********/
/*valeurs réutilisables,*/
/*media*/
/*mixin de variables*/
/*mixin de colors*/
/********fonctionnement********/
.container {
  background-color: white;
  padding: 2rem;
}
.container .fonctionnement {
  max-width: 1280px;
  margin: auto;
  counter-reset: numero; /*créé un compteur sur chaque onglet, 
permet d'ajouter d'autre compteur à partir du html*/
}
.container .fonctionnement ol {
  display: flex;
  gap: 2rem;
  padding: 0;
  cursor: pointer;
}
@media (max-width: 768px) {
  .container .fonctionnement ol {
    flex-direction: column;
  }
}
.container .fonctionnement li {
  position: relative; /*à mettre dans le parent 
si position absolute dans le before*/
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 7px -3px lightgrey;
  /*mixin de box shadow*/
}
.container .fonctionnement li::before {
  /*ajoute un chiffre avant chaque onglet*/
  content: counter(numero);
  counter-increment: numero;
  color: white;
  background-color: #9356dc;
  width: 2rem; /*valeur réutilisable*/
  height: 2rem;
  display: grid; /* Active le modèle de mise en page par grille */
  place-items: center; /*recentre les numéros*/
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: -1rem;
}
.container .fonctionnement li:hover {
  transform: scale(1.02); /*effet de zoom sur le boutton*/
  /*mixin de transform*/
}
.container .fonctionnement li i.fas {
  color: #9356dc;
  margin-right: 1rem;
}

/*mixin de box shadow*/
/*couleurs*/
/*mixin gradient*/
/***********restaurant*************/
main {
  background-color: #f6f6f6;
}
main .menus {
  padding: 2rem 2rem;
  background-color: #f4f4f4;
  /*****************les coeurs*****************/
}
main .menus .menumarge {
  max-width: 1280px;
  margin: auto;
}
main .menus .menudescription {
  position: relative; /*déplace le coeur*/
}
main .menus .menudescription p,
main .menus .menudescription h3 {
  padding: 0.3rem;
  margin-left: 1rem;
  font-size: 1rem; /*taille du texte*/
}
main .menus .menudescription h3 {
  padding-top: 1rem;
}
main .menus .menudescription p {
  padding-bottom: 1rem;
}
main .menus .menudescription i {
  font-size: 2rem; /*change la taille du coeur*/
  position: absolute; /*déplace le coeur*/
  right: 1rem; /*déplace le coeur*/
  top: 50%; /*déplace et centre le coeur*/
  transform: translateY(-50%); /*déplace et centre le coeur*/
}
main .menus .menudescription .fa-solid {
  /* modif de l'apparence du coeur, transition*/
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0; /*permet la transition entre chaque carte sans que le coeur s'affiche tout de suite au survol*/
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, #9356dc, #ff79da); /*couleur du bouton*/
}
main .menus .menudescription:hover .fa-solid {
  /* modif de l'apparence du coeur, transition*/
  opacity: 1; /*permet la transition entre chaque carte sans que le coeur s'affiche tout de suite au survol*/
  transform: translateY(-50%) scale(1); /*déplace et centre le coeur*/
}
main .menus h2 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
main .menus .menucarte {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 768px) {
  main .menus .menucarte {
    grid-template-columns: repeat(1, 1fr);
  }
}
main .menus .cartenouveau {
  /* cette partie permet d'intégrer nouveau*/
  position: relative;
  background-color: #ffffff; /*fond blanc de la carte*/
  border-radius: 1rem;
}
main .menus .cartenouveau::before {
  /* cette partie permet d'intégrer nouveau*/
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: rgb(27.4503816794, 96.5496183206, 79.5114503817); /*permet de garder la même couleur pour le texte en l'assombrissant*/
  display: grid; /* ajuste le texte verticalement*/
  place-items: center; /*centre le texte*/
  right: 1rem; /*place le texte nouveau dans la bonne partie de la carte*/
  top: 1rem; /*place le texte nouveau dans la bonne partie de la carte*/
  border-radius: 0.2rem;
}
main .menus .cartenouveau .menuimageun {
  /*les cartes*/
  background-image: url("../../assets/images/restaurants/menuun.jpg");
  height: 15rem;
  background-size: cover;
  background-position: center;
  border-radius: 1rem 1rem 0 0;
}
main .menus .cartenouveau .menuimagedeux {
  background-image: url("../../assets/images/restaurants/menudeux.jpg");
  height: 15rem;
  background-size: cover;
  background-position: center;
  border-radius: 1rem 1rem 0 0;
}
main .menus .carte {
  background-color: #ffffff; /*fond blanc de la carte*/
  border-radius: 1rem;
}
main .menus .carte .menuimagetrois {
  background-image: url("../../assets/images/restaurants/menutrois.jpg");
  height: 15rem;
  background-size: cover;
  background-position: center;
  border-radius: 1rem 1rem 0 0;
}
main .menus .carte .menuimagequatre {
  background-image: url("../../assets/images/restaurants/menuquatre.jpg");
  height: 15rem;
  background-size: cover;
  background-position: center;
  border-radius: 1rem 1rem 0 0;
}

/*couleurs*/
.basdepage {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 1 2rem;
  color: white; /*couleur du texte*/
}
.basdepage h2 {
  font-family: shrikhand;
  font-weight: 500; /*rend les lettres moins épaisses*/
  padding: 1rem 0;
}
.basdepage a {
  padding: 0.2rem;
}
@media (min-width: 1440px) {
  .basdepage {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
  }
  .basdepage h2 {
    margin-right: 4rem;
    margin-left: 6rem;
  }
}

/*mixin de box shadow*/
/*couleurs*/
/*mixin gradient*/
@keyframes quarterspin {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*mixin gradient*/
/*******titre du site*******/
.fleche ::before { /* ajoute la flèche de retour*/
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "FontAwesome 5 free";
  font-weight: 900;
  content: "\f060"; /*identification de l'item sur fa*/
  font-family: "Font Awesome 6 Free"; /*pour bien voir apparaitre la fleche de retour*/
  font-weight: 900; /*pour bien voir apparaitre la fleche de retour*/
  position: absolute;
  left: 1rem;
}

/*******image*******/
.palette img {
  display: block;
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .palette img {
    height: 30vh;
  }
}

/***restaurant****/
@media (min-width: 1440px) {
  .mainrestoun {
    padding: 0rem 10rem;
    background-color: white;
  }
}
.mainrestoun .menupalette {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #f6f6f6;
}
.mainrestoun .menupalette .sansgras {
  font-weight: normal;
  color: gray;
  text-transform: uppercase;
  position: relative;
}
.mainrestoun .menupalette .sansgras::after {
  /***ligne verte après le texte***/
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0rem;
  height: 0.25rem;
  width: 2.65rem;
  background-color: #99E2D0;
  display: inline-block;
}
.mainrestoun .menupalette .entrees {
  animation: quarterspin 2s;
  /*animation des onglets*/
  background-color: #ffffff;
  border-radius: 1rem;
}
.mainrestoun .menupalette .entrees .entre {
  display: flex;
  box-shadow: 2px 1px 7px -3px lightgrey;
  /*border-shadow*/
  border-radius: 1rem;
}
.mainrestoun .menupalette .entrees .entre > * {
  align-items: flex-start;
}
.mainrestoun .menupalette .entrees .prix {
  font-weight: bold;
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-top: 1.2rem; /*déplace le 25euros pour l'aligner*/
  margin-right: 1rem;
}
.mainrestoun .menupalette .entrees .entr {
  padding: 1rem;
  cursor: pointer; /*change le curseur en main*/
}
.mainrestoun .menupalette .entrees :hover .verif {
  margin-right: 0;
  opacity: 1;
}
.mainrestoun .menupalette .entrees .verif {
  /*animation verte de validation*/
  background-color: #99E2D0;
  margin-right: -2.7rem;
  width: 3rem;
  overflow: hidden;
  opacity: 0;
  border-radius: 0 1rem 1rem 0;
  transition: all 0.6s;
  display: grid;
  place-items: center;
  font-size: 1rem;
  color: white;
}
.mainrestoun .menupalette .entrees .verif i {
  transform: scale(1.4); /*augmente la taille de l'intérieur de l'item*/
}
.mainrestoun .menupalette .gras {
  /*intitulé du plat*/
  font-weight: bold;
}
.mainrestoun .page {
  font-family: "shrikhand", "sans-serif";
  padding: 2rem 2rem;
  position: relative; /*déplace le coeur*/
  margin-top: -2rem;
  border-radius: 1rem 1rem 0 0;
  background-color: #f6f6f6;
}
.mainrestoun .page .pageun {
  font-family: "shrikhand", "sans-serif";
}
@media (min-width: 1440px) {
  .mainrestoun .page .pageun {
    text-align: center;
  }
}
.mainrestoun .page i {
  font-size: 2rem; /*change la taille du coeur*/
  position: absolute; /*déplace le coeur*/
  right: 1rem; /*déplace le coeur*/
  top: 50%; /*déplace et centre le coeur*/
  transform: translateY(-50%); /*déplace et centre le coeur*/
}
@media (min-width: 1440px) {
  .mainrestoun .page i {
    right: 25rem;
  }
}
.mainrestoun .page .fa-solid {
  /* modif de l'apparence du coeur, transition*/
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0; /*permet la transition entre chaque carte sans que le coeur s'affiche tout de suite au survol*/
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, #9356dc, #ff79da); /*couleur du bouton*/
}
.mainrestoun .page:hover .fa-solid {
  /* modif de l'apparence du coeur, transition*/
  opacity: 1; /*permet la transition entre chaque carte sans que le coeur s'affiche tout de suite au survol*/
  transform: translateY(-50%) scale(1); /*déplace et centre le coeur*/
}

section.comm {
  display: grid;
  place-items: center;
  height: 20vh;
}
section.comm button {
  /*mixin du bouton*/
  color: white;
  font-weight: 300;
  width: 15rem;
  padding: 0.8rem 0.8rem;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms; /*vitesse du zoom*/
  margin-top: 1.5rem;
  cursor: pointer;
  background-image: linear-gradient(to top, #9356dc, #ff79da); /*couleur du bouton*/
  box-shadow: 2px 1px 7px -3px lightgrey;
}
section.comm button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}



/*# sourceMappingURL=style.css.map */
