@use "../utils/_mixins";
@use "../utils/_colors";
/********sous titre et exploration********/
.explorer {
  & .explo {
    max-width: 1280px;
    margin: auto;
  }
  background-color: #f6f6f6;
  text-align: center;
  padding: 2rem;
  & h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    font-size: 2rem;
  }
  & p {
    font-size: 1rem;
  }
  & button {
    @include mixins.base-bouton;
    @include mixins.base-shadow;
    @include mixins.gradient;
    @include mixins.base-bouton;
  }
 
}
/*********animation**********/
.chargement {/* écran de chargement */
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: colors.$tertiaire;
  background-color: #ffffff;
   ;
  height: 100vh;
  inset:0;
  z-index: 1;
  opacity: 0.9;
  animation: invisible 200ms forwards;/*évite que l'animation se répete, plus le temps d'apparition*/
  animation-delay: 1s;
  transform-origin: top ;
 
}

@keyframes invisible {
  to {
  transform: scale(0);
}
}
  
