@use "../utils/variables"; /*mixin de box shadow*/
/***********restaurant*************/
.menus {
  background-color: #f6f6f6;
  h2 {
    margin-bottom: 2rem;
  }
  .menucarte {
    display: grid;
    grid-template-columns:repeat( 2, 1fr);
    gap: 2rem;
    @media (max-width: variables.$menu-carte) {
      grid-template-columns:repeat( 1, 1fr);
    }
  }
  .carte {
  & .menuimageun{
  background-image: url("../../assets/images/restaurants/menuun.jpg");
  height: 15rem;
  background-size: cover;
  border-radius: 1rem;
    }
  & .menuimagedeux{
  background-image: url("../../assets/images/restaurants/menudeux.jpg");
  height: 15rem;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  }
  & .menuimagetrois{
  background-image: url("../../assets/images/restaurants/menutrois.jpg");
  height: 15rem;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  }
  & .menuimagequatre{
  background-image: url("../../assets/images/restaurants/menuquatre.jpg");
  height: 15rem;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  }
  }
}


