@use "../utils/_mixins";
/********sous titre et exploration********/
.explorer {
  & .explo {
    max-width: 1280px;
    margin: auto;
  }
  background-color: #f6f6f6;
  text-align: center;
  padding: 2rem;
  & h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    font-size: 2rem;
  }
  & p {
    font-size: 1rem;
  }
  & button {
    @include mixins.base-bouton;
    @include mixins.base-shadow;
    @include mixins.gradient;
    @include mixins.base-bouton;
  }
 
}
